@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*  Styling site */
body {
  font-size: 18px ;
  line-height: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Global nav*/
.main-navigation {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  background-color: maroon;
}

.menu a {
  padding: 1em;
  text-decoration: none;
  color: #000000;
}

.menu a:hover {
  color: chocolate;
}

.current_page_item {
  background-color: chocolate;
}


